@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.App {
  background-color: #f6f6f6;
  color: #0d1d2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.resultSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expenseBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 135px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}

.expenseBox span {
  font-weight: bold;
  color: green;
}

.btn {
  outline: none;
  padding: 5px 10px;
  background-color: #ecfccb;
  color: #3f6212;
  border: 1px solid #3f6212;
  border-radius: 5px;
}

.primary {
  color: #ecfccb;
  background-color: #3f6212;
  border: none;
  padding: 6px 10px;
  padding: 10px 0;

}

.cancel {
  background-color: #fff;
  color: #ef4444;
  border: 1px solid #ef4444;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  margin-bottom: 30px;

}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 12px;
  outline: none;
}

input[type="radio"] {
  margin-left: 10px;
}

.radioBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}

.radioBox label {
  margin-left: 3px;
}

.transaction {
  background-color: #e4e4e7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 15px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-right: 4px solid green;
}